{% load static %}

{% block corecss %}
    <link rel="stylesheet" href="{% static 'css1/style.css' %}">
    <style>
      .blink {
        animation: blink 1s infinite;
      }
      
      @keyframes blink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          color:red;
        }
      }
    </style>
{% endblock %}

<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      
      <div class="media-body">
        <h4 class="m-0">Covid 19 Data Analysis</h4>
        <p class="font-weight-normal mt-2 text-muted mb-0">By Vedant Ketan Sarnobat</p>
      </div>
    </div>
  </div>
  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/" class="nav-link text-dark ">
        <i class="fas fa-home text-primary mr-3 fa-fw"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="/live_data" class="nav-link text-dark">
        <i class="fas fa-dot-circle blink" style="color: red;"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;Live Tracker
      </a>
    </li>
    <li class="nav-item">
      <a href="/dashboard" class="nav-link text-dark">
        <i class="fas fa-tachometer-alt mr-3 text-primary fa-fw"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="/continent_death " class="nav-link text-dark">
        <i class="fas fa-skull-crossbones text-primary fa-fw"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;Total Death Count
      </a>
    </li>
    <li class="nav-item">
      <a href="/country_infection" class="nav-link text-dark">
        <i class="fas fa-globe-americas text-primary fa-fw"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;Global Infection
      </a>
    </li>
    <li class="nav-item">
      <a href="/average_infection" class="nav-link text-dark">
        <i class="fas fa-users text-primary fa-fw"></i>
        &nbsp;&nbsp;&nbsp;Average Population Infected
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->

<!-- End demo content -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'js1/main1.js' %}"></script>
</body>
</html>





